.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: #212121;
}

.header__logo {
	margin-left: 15px;
	height: 35px;
	/* width: 200px; */
	/* align-self: center; */
	object-fit: contain;
}

.header__left {
	display: flex;
	align-items: center;
}

.header__input {
	display: flex;
	outline: none;
	align-items: center;
	height: 30px;
	width: 40%;
	padding-left: 10px;
	/* border: 1px solid black; */
	color: #fff;
	background-color: #000 !important;
}

.header__input > input {
	flex: 1;
	border: none;
	background-color: #000 !important;
	padding: 0px;
	color: #fff;
}

.header__icons {
	display: flex;
	align-items: center;
}

.header__inputButton {
	width: 30px !important;
	height: 100% !important;
	background-color: #333333;
	/* border-left: 1px solid lightgray; */
	/* color: #323232; */
}

.header__inputButton:hover {
	color: #f00;
	/* background-color: #000; */
}

.header__icon {
	margin-right: 10px;
}
